#clientPane {
   -fx-background-color: transparent;
}

#clientServTimeLabel {
    -fx-text-fill: #725D95;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    -fx-font-family: "Inter 28pt Medium";
}

#clientSVGIcon {
    -fx-fill: #FFFFFF;
    -fx-scale-x: 0.0625;
    -fx-scale-y: 0.0625;
}