    /*Main Shapes*/
#anchorPane {
    -fx-background-color: #36314A;
}

#trapeze {
    -fx-stroke: transparent;
    -fx-fill: linear-gradient(to right, #201D2C, #4D456D);
}

    /*Labels*/
#imageLogoLabel {
    -fx-text-fill: linear-gradient(to right, #725D95, #C2ABC4);

    -fx-font-size: 20px;
    -fx-font-weight: 500;
    -fx-font-family: "Inter 28pt Medium";
}

#mainLogoLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 64px;

    -fx-font-weight: 700;
    -fx-font-family: "Inter 28pt";
}

#loginDataLabel {
    -fx-text-fill: #AEACB6;
    -fx-font-size: 16px;

    -fx-font-weight: 500;
    -fx-font-family: "Inter 28pt Medium";
}

#loginDataLabel:hover {
    -fx-text-fill: #d6d5da;

    -fx-font-family: "Inter 28pt Medium";
}

    /*Text Fields*/
#loginTextField {
    -fx-background-color: transparent;

    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #AEACB6;
    -fx-font-size: 20;

    -fx-font-weight: 600;
    -fx-font-family: "Inter 28pt SemiBold";
}

#loginTextFieldLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;

    -fx-font-weight: 600;
    -fx-font-family: "Inter 28pt SemiBold";
}

#loginTextFieldHBox{
    -fx-background-color: transparent;

    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 12px;
}

    /*Button*/
#loginButton {
    -fx-background-radius: 12px;
    -fx-background-color: linear-gradient(to right, #725D95, #C2ABC4);

    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;

    -fx-font-family: "Inter 28pt";
    -fx-font-weight: 700;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0.2, 0, 4);
}

#loginButton:hover {
    -fx-background-color: linear-gradient(to right, #8E7DAA, #CEBBCF);
}
