    /*Panes*/
#mainAppVBox {
    -fx-background-color: #4D456D;
}

#mainAppButtonPanel {
    -fx-background-color: linear-gradient(to top, #201D2C, #302C42);
}

    /*Semi Bold 20 Label Style*/
#mainAppSemiBoldLabel {
    -fx-text-fill: #EAEAEC;
    -fx-font-weight: 600;
    -fx-font-size: 20;
}

    /*Logo Label*/
#mainAppLogoLabel {
    -fx-text-fill: #EAEAEC;
    -fx-font-weight: 700;
    -fx-font-size: 36px;
}

    /*Time Display Component*/
#mainAppTimeDisplayHBox {
    -fx-background-color: #2B273B;
    -fx-background-radius: 24px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0.2, 0, 4);
}

    /*Work Space Display*/
#mainAppWorkSpaceDisplay {
    -fx-text-fill: #EAEAEC;
    -fx-font-weight: 700;
    -fx-font-size: 20;

    -fx-background-color: linear-gradient(to right, #725D95, #C2ABC4);
    -fx-background-radius: 24px;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0.2, 0, 4);
}

    /*User Display*/
#mainAppUserDisplayOptionsPane {
    -fx-background-color: #443C65;
    -fx-background-radius: 24px;
}

#mainAppUserDisplayOptionsPane:hover {
    -fx-background-color: #696283;
}

#mainAppUserDisplayHBox {
    -fx-background-color: #2B273B;
    -fx-background-radius: 24px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0.2, 0, 4);
}

    /*Buttons*/
#mainAppButton {
    -fx-background-color: transparent;
    -fx-text-fill: #EAEAEC;
    -fx-font-size: 20px;
    -fx-font-weight: 600;
}

    /*Waiting Line*/
#mainAppWaitingLineHBox {
    -fx-background-color: #2B273B;
    -fx-background-radius: 24px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0.2, 0, 4);
}

#mainAppWaitingLineFlowPane {
    -fx-background-color: #443C65;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 20, 0.2, 0, 4);
}

